@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria-1:#363457;
    --cor-primaria-2:#465C69;
    --cor-primaria-3:#246A73;
    --cor-primaria-4:#A0C1B9;
    --cor-primaria-5:#6279B8;

    --cor-secundaria-1:#fff;
    --cor-secundaria-2:#1d1d1d;

    --fonte: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte);
    background-color: var(--cor-primaria-4);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background-color: var(--cor-secundaria-1);
    padding: clamp(2rem, 5vw, 3rem);
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.titulo {
    font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
    color: var(--cor-primaria-5);
    margin-bottom: 1.5rem;
    font-weight: 500;
}